@use "sass:color";
@use "/src/styles/_variables.scss" as *;

.container {
  max-width: $main-width;
  margin: $spacing * 2 auto;
}

.resultsHeader {
  margin-bottom: $spacing;
}

.loaderWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadMoreButton {
  margin: $spacing * 2 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: $card-bg-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $font-size-base;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
    color: white;
  }
}
