VITE_API_URL="https://api.themoviedb.org/3"
VITE_API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3NjQzYWU4MTFlYzgxZWM3YjY3MTQyMzYxNGY1NzNkNiIsIm5iZiI6MTc0ODUxMTI3OS40MTY5OTk4LCJzdWIiOiI2ODM4MmEyZjdjZmQ0YzVlOWIwNTY3MWIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ygt2kjySOasKN4hDqji21PpByJE2zmclsBZLApQ5ZjY"