@use "sass:color";
@use "/src/styles/_variables.scss" as *;

.list {
  $gap: $spacing * 2;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, calc((100% - $gap * 3) / 4))
  );
  gap: $gap;
}

.noResults {
  background-color: color.adjust($body-bg-color, $lightness: -5%);
  border-radius: $border-radius;
  text-align: center;
  padding: $spacing * 4;
  font-size: 1.2rem;
  color: $placeholder-text-color;
}
